/.idea/.gitignore
/data/Cora/processed/data.pt
/data/Pubmed/processed/data.pt
/data/ogbn_arxiv/raw/edge.csv.gz
/.idea/experiments.iml
/data/ogbn_arxiv/processed/geometric_data_processed.pt
/data/Cora/raw/ind.cora.allx
/data/Cora/raw/ind.cora.ally
/data/Cora/raw/ind.cora.graph
/data/Cora/raw/ind.cora.test.index
/data/Cora/raw/ind.cora.tx
/data/Cora/raw/ind.cora.ty
/data/Cora/raw/ind.cora.x
/data/Cora/raw/ind.cora.y
/data/Pubmed/raw/ind.pubmed.allx
/data/Pubmed/raw/ind.pubmed.ally
/data/Pubmed/raw/ind.pubmed.graph
/data/Pubmed/raw/ind.pubmed.test.index
/data/Pubmed/raw/ind.pubmed.tx
/data/Pubmed/raw/ind.pubmed.ty
/data/Pubmed/raw/ind.pubmed.x
/data/Pubmed/raw/ind.pubmed.y
/data/ogbn_arxiv/mapping/labelidx2arxivcategeory.csv.gz
/.idea/misc.xml
/.idea/modules.xml
/data/ogbn_arxiv/raw/node-feat.csv.gz
/data/ogbn_arxiv/raw/node-label.csv.gz
/data/ogbn_arxiv/raw/node_year.csv.gz
/data/ogbn_arxiv/mapping/nodeidx2paperid.csv.gz
/data/ogbn_arxiv/raw/num-edge-list.csv.gz
/data/ogbn_arxiv/raw/num-node-list.csv.gz
/data/Cora/processed/pre_filter.pt
/data/ogbn_arxiv/processed/pre_filter.pt
/data/Pubmed/processed/pre_filter.pt
/data/Cora/processed/pre_transform.pt
/data/ogbn_arxiv/processed/pre_transform.pt
/data/Pubmed/processed/pre_transform.pt
/.idea/inspectionProfiles/profiles_settings.xml
/data/ogbn_arxiv/mapping/README.md
/data/ogbn_arxiv/RELEASE_v1.txt
/data/ogbn_arxiv/split/time/test.csv.gz
/data/ogbn_arxiv/split/time/train.csv.gz
/data/ogbn_arxiv/split/time/valid.csv.gz
/.idea/vcs.xml
